@import url('./vendor/normalize.css');
@import url('./vendor/fonts/inter.css');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.page {
    font-family: "Inter", "Arial", sans-serif;
}

.section {
    max-width: 100%;
    min-width: 284px;
    margin: 0 auto;
}

.section__title {
    max-width: 100%;
    margin: 0 auto 70px;
    padding-bottom: 23px;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 425px) {
    .section__title {
        max-width: 284px;
        margin: 0 0 60px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
        padding-bottom: 28px;
    }
}

.hover-effect:hover {
    opacity: .8;
    cursor: pointer;
}
